{%extends "MillasViajerasApp/base.html"%}

{%block title%}
Millas Viajeras - Agregar Avatar
{%endblock%}

{%block contenido%}
<br>
    <div class="col-lg-3 mb-5" style="margin-left: auto; margin-right: auto;">
        <div class="card h-100 shadow border-0">            
            <div class="card-body p-4">
                <h1>Avatar</h1>
                <hr>
                <form enctype="multipart/form-data" action="" method="POST">
                    {% csrf_token %}
                        <table>
                    
                            {{form.as_table}}
                    
                        </table>
                        <br>
                        <input type="submit" class="btn btn-primary" value="Guardar">
                </form>                                                 
            </div>                                
        </div>
    </div>
{%endblock%}